@import "./../../../variables";

.post-modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(38, 38, 38, 0.486);

  z-index: 19;
  overflow-y: hidden;
}
.post-modal {
  position: fixed;
  z-index: 20;
  display: block;
  height: 450px;
  background-color: $light-color;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  .post-modal__img {
    height: 100%;
    display: block;
  }
  .post-modal__content-container {
    width: 380px;
    padding-left: 10px;
    // border-left: 3px solid $accent-color;
    .user-modal__title {
      font-size: 30px;
      font-weight: 400;
    }
    .user-modal__comments {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
      .modal-comment {
        display: block;
        width: 300px;
        padding-bottom: 5px;
        font-size: 20px;
        padding-left: 15px;
        border-left: 3px solid $accent-color;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: $light-grey-color;
        padding-right: 90px;
      }
    }
    .modal-comment__author {
      color: $dark-color;
      font-family: monospace;
      font-size: 20px;
      text-decoration: none;
    }
    .modal-comment__author:hover {
      color: $accent-color;
    }
  }
}
