@import "../../../variables";

.user__posts {
  background: linear-gradient($light-color, #fff);
  // background-attachment: fixed;
  padding-top: 10px;
  padding-bottom: 30px;

  .user-posts__title {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 30px;
    font-weight: 400;
    margin-top: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: min-content;
    padding-right: 20px;
    padding-left: 20px;
  }
  .user__no-posts {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    justify-content: center;
    border-top: 1px solid #000;
  }
  .user__post-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 1000px;
  }
}
