@import "./../../variables";

.post-action-button {
  background-color: transparent;
  border: none;
  height: min-content;
  width: min-content;
  position: relative;
  cursor: pointer;
  svg {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    path {
      display: block;
      width: 50px;
      height: 50px;
    }
  }
}
.post-action-button-n {
  display: none;
  position: absolute;
  color: $darkest-color;
  top: -25px;
  padding-right: 10px;
  padding-left: 10px;
  right: 22px;
  font-size: 20px;
  font-family: monospace;
  border-radius: 5px;
  background-color: $accent-color;
  color: $light-color;
}
.post-action-button-n::after {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  right: 5px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  background-color: $accent-color;
}

.post-action-button:hover .post-action-button-n {
  display: block;
}
.post__actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  position: relative;
}
.post__comment-form {
  position: relative;
  height: 40px;
  width: max-content;
  display: flex;
  align-items: center;
  .post-comment-form__input {
    height: 28px;
    font-size: 18px;
    line-height: 10;
    padding: 0;
    padding-left: 10px;
    width: 140px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    &:focus {
      border: none;
      box-shadow: none;
      outline-style: none !important;
      outline: none !important;
      outline: 0 !important;
    }
  }
  .post-comment-form__submit-btn {
    height: 100%;
    margin: 0;
    padding: 0;
    height: 32px;
    color: $light-color;
    border: none;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    // transition: 0.1s;
    cursor: pointer;
    box-sizing: border-box;

    background-color: $dark-color;
    border: 2px solid $darkest-color;
    &:hover {
      background-color: $darkest-color;
      border: none;
      padding-right: 12px;
      padding-left: 12px;
    }
  }
}
