@import "./../../variables";

.home__header {
  position: relative;
  background-color: $dark-color;
  border-top: 5px solid $accent-color;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  height: 90px;
  z-index: 1;
  overflow: hidden;
  .home__title {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 500px;
    font-size: 120px;
    line-height: 80px;
    color: $darkest-color;
    z-index: -1;
    font-family: monospace;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
  }
}
