@import "./../../../variables";

.to-home-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: $darkest-color;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: $light-color;
  font-family: monospace;
  font-size: 20px;
  transition: 0.2s;
}
.to-home-btn:hover {
  background-color: $accent-color;
}
