@import "../../variables";
.user__head {
  position: relative;
  background-color: $dark-color;
  border-top: 5px solid $accent-color;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  z-index: 1;
  overflow: hidden;
  .user__content-container {
    position: relative;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    z-index: -3;
    .user__title {
      text-transform: uppercase;
      position: absolute;
      bottom: -20px;
      left: 200px;
      font-size: 120px;
      line-height: 80px;
      color: $darkest-color;
      z-index: -1;
      font-family: monospace;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin: 0;
    }
    .user__nickname {
      margin-top: 20px;
      color: $light-color;
      font-size: 35px;
      margin-bottom: 0;
      text-transform: capitalize;
      display: block;
      width: min-content;
      border-bottom: 3px solid $accent-color;
      .user-nickname__add {
        font-size: 15px;
        font-family: monospace;
        display: block;
      }
    }
    .user__fullname {
      color: $light-color;
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 20px;
    }
    .user__gender {
      margin-top: 0;
      margin-bottom: 0;
      color: #252422;
      display: block;
      width: min-content;
      background-color: $grey-color;
      font-family: monospace;
      letter-spacing: 2px;
      line-height: 15px;
      font-size: 19px;
      margin-bottom: 5px;
    }
    .user__subsribe-btn {
      position: relative;
      text-transform: uppercase;
      color: #252422;
      background-color: $light-color;
      border: none;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      transition: 0.1s;
      z-index: 5;
    }
    .user__subsribe-btn:hover {
      color: #252422;
      background-color: $accent-color;
    }
  }
}
