@import "./../../variables";
.no-page__title {
  text-align: center;
  font-family: monospace;
  font-size: 28px;
  text-transform: uppercase;
  background-color: $dark-color;
  color: $light-color;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 5px $accent-color solid;
}
