@import "./../../../variables";
.post {
  position: relative;
  width: 400px;
  background-color: $dark-color;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  padding-top: 5px;
  .post__author {
    color: $light-color;
    font-family: monospace;
    font-size: 25px;
    text-decoration: none;
  }
  .post__author:hover {
    color: $accent-color;
  }
  .post__img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .post__comments-wrapper {
    border-top: 3px solid $accent-color;
    margin-top: 10px;
    .post-comments__title {
      margin-top: 10px;
      font-family: monospace;
      color: $light-color;
      text-transform: uppercase;
    }
    .post__comments {
      margin: 0;
      padding: 0;
      list-style-type: none;
      .post__comment {
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: $darkest-color;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        .comment__author {
          margin-left: 10px;
          padding-left: 10px;
          color: $light-color;
          font-family: monospace;
          font-size: 17px;
          text-decoration: none;
          transition: 0.14s;
          border-left: 3px solid $accent-color;
        }
        .comment__author:hover {
          color: $accent-color;
        }
        .comment__author::after {
          content: ": ";
        }
        .comment__text {
          display: inline;
          color: $light-color;
        }
      }
    }
    .toggle-comments {
      background-color: $light-color;
      border-radius: 5px;
      width: 120px;
      height: 30px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      font-family: monospace;
      color: $darkest-color;
      font-size: 16px;
    }
  }
}
