@import "./../../../variables";

.home__users-lists {
  position: fixed;
  top: 0px;
  padding-top: 200px;
  right: -180px;
  height: 100vh;
  background-color: $light-grey-color;
  transition: 0.5s;
  overflow: hidden;
}
.home__users-lists:hover {
  right: 0px;
  .users-list__title {
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.users-list__title {
  font-size: 40px;
  display: block;
  position: absolute;
  transform: rotate(90deg);
  transition: 0.5s;
  color: $dark-color;
  background-color: $light-grey-color;
  padding-top: 300px;
  padding-bottom: 260px;
}
.home__users-list {
  background-color: $light-grey-color;
  width: max-width;
  margin-left: 20px;
  list-style-type: none;
  padding: 0;

  //   border-top: 2px solid $grey-color;

  .user-list__title {
    color: $accent-color;
    font-family: monospace;
    font-size: 25px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;

    font-weight: 600;
  }
  .users-list__user {
    width: 200px;
    border-left: $darkest-color 3px solid;
    margin-left: 20px;
    padding-left: 20px;
    .user__linkTo {
      text-decoration: none;
      color: $darkest-color;
      font-family: monospace;
      font-size: 20px;
      transition: 0.1s;
    }
    .user__linkTo:hover {
      color: $accent-color;
    }
  }
}
