@import "../../../variables";
.deco-line {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 5px;
  background-color: $accent-color;
}
.user__post {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;

  .user-post__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.15s cubic-bezier(0.33, 0.01, 0.16, 0.93);
  }
  .user-post__img-hover {
    // background-color: #2524223e;

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .user-post__actionBtn {
      z-index: 20;
      display: block;
      width: 50px;
      height: 50px;
    }
  }
}
.user__post:hover .user-post__img-hover {
  display: flex;
}
.user__post:hover .user-post__img {
  filter: blur(3px) brightness(0.7) contrast(150%);
}
