.home__posts-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  .home-posts__title {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: min-content;
  }
}
